*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial;

background:#eef2f3;

}

.container{

text-align:center;

}

button{

padding:15px 30px;

background:#007BFF;

color:white;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#0056b3;

transform:scale(1.1);

box-shadow:0 10px 20px rgba(0,0,0,.3);

}

a{

display:block;

margin-top:30px;

font-size:24px;

text-decoration:none;

color:#007BFF;

transition:.3s;

}

a:hover{

color:red;

text-decoration:underline;

font-size:28px;

}